In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read csv as dataframe

df = pd.read_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\formula 1 championship\raw_data\results.csv')

In [3]:
df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [4]:
# drop columns

df = df.drop(columns=['positionText', 'rank'])

In [5]:
# change datatypes

df['fastestLapSpeed'] = pd.to_numeric(df['fastestLapSpeed'], errors='coerce').fillna(0).astype('float')

df['position'] = pd.to_numeric(df['position'], errors='coerce').fillna(0).astype('int64')

In [6]:
df['points'] = df['points'].astype(str).str.replace('.', ',')
df['fastestLapSpeed'] = df['fastestLapSpeed'].astype(str).str.replace('.', ',')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26519 entries, 0 to 26518
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26519 non-null  int64
 1   raceId           26519 non-null  int64
 2   driverId         26519 non-null  int64
 3   constructorId    26519 non-null  int64
 4   number           26519 non-null  object
 5   grid             26519 non-null  int64
 6   position         26519 non-null  int64
 7   positionOrder    26519 non-null  int64
 8   points           26519 non-null  object
 9   laps             26519 non-null  int64
 10  time             26519 non-null  object
 11  milliseconds     26519 non-null  object
 12  fastestLap       26519 non-null  object
 13  fastestLapTime   26519 non-null  object
 14  fastestLapSpeed  26519 non-null  object
 15  statusId         26519 non-null  int64
dtypes: int64(9), object(7)
memory usage: 3.2+ MB

In [7]:
df.to_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\formula 1 championship\cleaned_data\results.csv', index=False)