In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\formula 1 championship\raw_data\sprint_results.csv')

In [3]:
df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

In [4]:
# drop columns

df = df.drop(columns='positionText')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        300 non-null    int64
 1   raceId          300 non-null    int64
 2   driverId        300 non-null    int64
 3   constructorId   300 non-null    int64
 4   number          300 non-null    int64
 5   grid            300 non-null    int64
 6   position        300 non-null    object
 7   positionOrder   300 non-null    int64
 8   points          300 non-null    int64
 9   laps            300 non-null    int64
 10  time            300 non-null    object
 11  milliseconds    300 non-null    object
 12  fastestLap      300 non-null    object
 13  fastestLapTime  300 non-null    object
 14  statusId        300 non-null    int64
dtypes: int64(10), object(5)
memory usage: 35.3+ KB

In [6]:
# change datatypes

df['fastestLap'] = pd.to_numeric(df['fastestLap'], errors='coerce').fillna(0).astype('int64')

# custom function to convert time
def convert_time(t):
    # check if the value is not a number (NaN) or "\N"
    if pd.isna(t) or t == "\\N":
        return pd.NaT
    try:
        # try to convert using "minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%M:%S.%f').time()
    except ValueError:
        # if error, try to convert using "hours:minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%H:%M:%S.%f').time()

# apply function
df['fastestLapTime'] = df['fastestLapTime'].apply(convert_time)

# convert the 'milliseconds' column to numeric values, coercing errors to NaN
df['milliseconds'] = pd.to_numeric(df['milliseconds'], errors='coerce')

# convert to timedelta
df['milliseconds'] = pd.to_timedelta(df['milliseconds'], unit='ms')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        300 non-null    int64
 1   raceId          300 non-null    int64
 2   driverId        300 non-null    int64
 3   constructorId   300 non-null    int64
 4   number          300 non-null    int64
 5   grid            300 non-null    int64
 6   position        300 non-null    object
 7   positionOrder   300 non-null    int64
 8   points          300 non-null    int64
 9   laps            300 non-null    int64
 10  time            300 non-null    object
 11  milliseconds    281 non-null    timedelta64[ns]
 12  fastestLap      300 non-null    int64
 13  fastestLapTime  291 non-null    object
 14  statusId        300 non-null    int64
dtypes: int64(11), object(3), timedelta64[ns](1)
memory usage: 35.3+ KB

In [8]:
df.to_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\formula 1 championship\cleaned_data\sprint_results.csv', index=False)