In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read csv as dataframe
df = pd.read_csv(r'lap_times.csv')

In [3]:
df.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575029 entries, 0 to 575028
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        575029 non-null  int64
 1   driverId      575029 non-null  int64
 2   lap           575029 non-null  int64
 3   position      575029 non-null  int64
 4   time          575029 non-null  object
 5   milliseconds  575029 non-null  int64
dtypes: int64(5), object(1)
memory usage: 26.3+ MB

In [5]:
# Custom function to convert time
def convert_time(t):
    try:
        # Try to convert using "hours:minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%H:%M:%S.%f').time()
    except ValueError:
        # If error, try to convert using "minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%M:%S.%f').time()
df['time'] = df['time'].apply(convert_time)

print(type(df['time'].iloc[0]))

<class 'datetime.time'>

In [6]:
df['milliseconds'] = pd.to_timedelta(df['milliseconds'], unit='ms')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575029 entries, 0 to 575028
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        575029 non-null  int64
 1   driverId      575029 non-null  int64
 2   lap           575029 non-null  int64
 3   position      575029 non-null  int64
 4   time          575029 non-null  object
 5   milliseconds  575029 non-null  timedelta64[ns]
dtypes: int64(4), object(1), timedelta64[ns](1)
memory usage: 26.3+ MB

In [8]:
df.to_csv(r'lap_times.csv', index=False)