In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'pit_stops.csv')

In [3]:
df.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [4]:
# Custom function to convert time
def convert_time(t):
    try:
        # Try to convert using "hours:minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%H:%M:%S:%f').time()
    except ValueError:
        # If error, try to convert using "minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%M:%S:%f').time()
df['time'] = df['time'].apply(convert_time)

print(type(df['time'].iloc[0]))

<class 'datetime.time'>

In [5]:
df['milliseconds'] = pd.to_timedelta(df['milliseconds'], unit='ms')

In [6]:
# Custom function to convert time
def convert_time(t):
    try:
        # Try to convert using "seconds.milliseconds" format
        return pd.to_datetime(t, format='%S.%f').time()
    except ValueError:
        # If error, try to convert using "minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%M:%S.%f').time()
df['duration'] = df['duration'].apply(convert_time)

print(type(df['duration'].iloc[0]))

<class 'datetime.time'>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10990 entries, 0 to 10989
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        10990 non-null  int64
 1   driverId      10990 non-null  int64
 2   stop          10990 non-null  int64
 3   lap           10990 non-null  int64
 4   time          10990 non-null  object
 5   duration      10990 non-null  object
 6   milliseconds  10990 non-null  timedelta64[ns]
dtypes: int64(4), object(2), timedelta64[ns](1)
memory usage: 601.1+ KB

In [8]:
# save dataframe to csv
df.to_csv(r'pit_stops.csv', index=False)