In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read csv in dataframe
df = pd.read_csv(r'qualifying.csv')

In [3]:
df.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [4]:
# Custom function to convert time
def convert_time(t):
    # check if the value is not a number (NaN) or "\N"
    if pd.isna(t) or t == "\\N":
        return None
    try:
        # try to convert using "minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%M:%S.%f').time()
    except ValueError:
        # if error, try to convert using "hours:minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%H:%M:%S.%f').time()

df['q1'] = df['q1'].apply(convert_time)

print(type(df['q1'].iloc[0]))

<class 'datetime.time'>

In [5]:
# custom function to convert time
def convert_time(t):
    # check if the value is not a number (NaN) or "\N"
    if pd.isna(t) or t == "\\N":
        return None
    try:
        # try to convert using "minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%M:%S.%f').time()
    except ValueError:
        # if error, try to convert using "hours:minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%H:%M:%S.%f').time()

df['q2'] = df['q2'].apply(convert_time)

print(type(df['q2'].iloc[0]))

<class 'datetime.time'>

In [6]:
# custom function to convert time
def convert_time(t):
    # check if the value is not a number (NaN) or "\N"
    if pd.isna(t) or t == "\\N":
        return None
    try:
        # try to convert using "minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%M:%S.%f').time()
    except ValueError:
        # if error, try to convert using "hours:minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%H:%M:%S.%f').time()

df['q3'] = df['q3'].apply(convert_time)

print(type(df['q3'].iloc[0]))

<class 'datetime.time'>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10254 entries, 0 to 10253
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      10254 non-null  int64
 1   raceId         10254 non-null  int64
 2   driverId       10254 non-null  int64
 3   constructorId  10254 non-null  int64
 4   number         10254 non-null  int64
 5   position       10254 non-null  int64
 6   q1             10100 non-null  object
 7   q2             5669 non-null   object
 8   q3             3514 non-null   object
dtypes: int64(6), object(3)
memory usage: 721.1+ KB

In [8]:
# save dataframe to csv

df.to_csv(r'qualifying.csv', index=False)